#imgChoosed {
     max-width: 20em;
}

@media (min-width: 576px) {
  #card{
    min-width: 500px;
  }
}

#dest{
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dest>img{
  min-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (min-width: 767px) {
  #dest>img{
    width: 200px;
    height: 150px;
  }
}

.formForDest{
  width: 30rem;
}

@media (max-width: 520px) {
  .formForDest{
    width: 20em;
  }
  #imgChoosed{
    width: 10rem;
  }
}

#up{
  width: 40px;
  height:40px;
  border-radius: 20px;
}

#up>span{
  margin-left: 0;
}